body{
    background-color: black;
}
p{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
}
h1{
    color: wheat;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    
}
h2{
    color: turquoise;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
em{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
i{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}